.menu-container {
  margin-top: 55px;
  background-color: #666;
  width: 200px;
  padding: 0;
  overflow: hidden;

  &.close {
    width: 0;
  }

  &.open {
    width: 250px;
  }
}

@media (max-width: 720px) {
  .menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: 0;
  }
}
