.menu-container {
  overflow: hidden;
  margin-top: 55px;
  background-color: transparent;

  &.close {
    width: 0;
  }

  &.open {
    width: 250px;
  }

  .menu-body {
    min-width: 250px;
    max-width: 100%;
    min-height: 100%;
    background-color: transparent;
    width: 200px;
    padding: 0;
  }
}

@media (max-width: 720px) {
  .menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin-top: 0;

    &.close {
      width: 0;
    }

    &.open {
      width: 100vw;
    }

    .menu-body {
      background-color: #333e;
    }
  }
}
