.alert {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 300px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #444e;
  border: 1px solid rgb(122, 122, 122);
  cursor: default;
  white-space: pre-wrap;
  word-wrap: break-word;

  &.off {
    display: none;
  }

  &.go {
    animation: alertAnim 400ms ease-out reverse;
  }

  &.on {
    display: flex;
  }

  &.come {
    animation: alertAnim 400ms ease-in;
  }

  &-success {
    color: var(--green-color);
  }

  &-danger {
    color: var(--red-color);
  }

  &-warning {
    color: var(--yellow-color);
  }

  &-info {
    color: var(--blue-color);
  }
}

@keyframes alertAnim {
  0% {
    right: -50px;
    opacity: 0;
  }
  100% {
    right: 10px;
    opacity: 1;
  }
}

@media (max-width: 720px) {
  .alert {
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    min-height: 55px;
    border: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &.go {
      animation: alertAnim 400ms ease-in reverse;
    }

    &.come {
      animation: alertAnim 400ms ease-in;
    }
  }

  @keyframes alertAnim {
    0% {
      top: -55px;
    }
    100% {
      top: 0;
    }
  }
}
