.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #555c;
  border-bottom: 1px solid #aaa;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  transform: translate3d(0, 0, 0);

  .navbar-left {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .login-btn {
      padding: 7px 10px;
      border-radius: 7px;
      background: var(--blue-color);
      background: transparent;
      border: 2px dashed var(--blue-color);
      color: var(--text-color);
      color: var(--blue-color);
      margin-right: 7px;
      cursor: pointer;
    }

    .search {
      font-size: 12px;
    }
  }

  .navbar-logo {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .insert-button {
      background: var(--blue-color);
      background: transparent;
      border: 2px dashed var(--blue-color);
      border-radius: 7px;
      padding: 8px 12px;
      color: #f4f4f4;
      color: var(--blue-color);
    }
  }
}

@media (max-width: 720px) {
  .navbar {
    padding: 0 10px;
  }
}
