
.icon-vector1:before { content: '\e801'; } /* '' */
.icon-logo-square:before { content: '\e802'; } /* '' */
.icon-logo-radius:before { content: '\e803'; } /* '' */
.icon-logo-circle:before { content: '\e804'; } /* '' */