.note {
  position: relative;
  margin-bottom: 15px;
  background-color: #4449;
  display: inline-block;
  // width: 260px;
  color: var(--text-color);
  width: 100%;
  font-weight: 100;
  padding: 12px 12px 12px 17px;
  overflow: hidden;
  border-radius: 4px;

  &::after {
    content: '';
    position: absolute;
    top: 22px;
    left: 0;
    width: 0px;
    height: 0px;
    border: 7px solid var(--c);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    background-color: transparent;
  }

  .note-header {
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 100;

    .note-header-tag {
      font-size: 28px;
    }
  }

  .note-footer {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #666;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 12px;

    .note-date {
      // color: red;
      color: #999 !important;
    }
  }
}

.tag {
  display: inline-block;
  border-radius: 5px;
  font-size: 13px;
  padding: 2px 10px 2px 0;
  cursor: pointer;
  color: #999 !important;
  font-weight: 400;

  &:hover {
    filter: brightness(110%);
  }

  &:first-child {
    margin-left: 0;
    padding-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
