.note-wrapper {
  position: relative;

  &.selected {
    position: relative;

    .note {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 0 1px var(--blue-color);
        background-color: transparentize($color: #6c9, $amount: 0.75);
        opacity: 0.4;
        z-index: 2;
        border-radius: 7px;
        animation: noteSelectAnim 100ms ease-in-out;
        border: none;
      }
    }
  }

  .personal-layer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--blue-color);
    opacity: 0.97;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    z-index: 2;

    button {
      background-color: transparent;
      padding: 5px 15px;
      color: var(--text-color);
      margin-top: 10px;
      border: 1px solid #eee;
      border-radius: 7px;
    }

    &.show {
      display: flex;
    }
    &.hide {
      display: none;
    }
  }

  .note {
    position: relative;
    min-height: 100%;
    background-color: #4449;
    display: inline-block;
    color: var(--text-color);
    width: 100%;
    font-weight: 100;
    padding: 12px;
    padding-bottom: 3px;
    overflow: hidden;
    border-radius: 7px;

    &::after {
      content: '';
      position: absolute;
      top: 0px;
      left: 18px;
      width: 0px;
      height: 0px;
      border: 6px solid;
      border-color: transparent;
      border-top-color: var(--c);
      background-color: transparent;
      width: 20px;
      opacity: 0.7;
    }

    .note-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: 100;
      user-select: none;

      .note-header-tag {
        font-size: 22px;
      }
    }

    .note-body {
      margin-top: 7px;
      font-family: inherit;
      white-space: pre-wrap;
      word-wrap: break-word;
      width: 100%;
      user-select: none;
    }

    .note-footer {
      margin-top: 15px;
      padding-top: 5px;
      border-top: 1px solid #666;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 12px;
      user-select: none;

      .note-date {
        color: #999 !important;
      }
    }
  }
}

.tag {
  display: inline-block;
  border-radius: 5px;
  font-size: 13px;
  padding: 2px 10px 2px 0;
  cursor: pointer;
  color: #999 !important;
  font-weight: 400;

  &:hover {
    filter: brightness(110%);
  }

  &:first-child {
    margin-left: 0;
    padding-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

@keyframes noteSelectAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}
