.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3333;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &.off {
    display: none;
  }

  &.go {
    display: flex;

    .modal-body {
      animation: modalAnim 300ms ease-out reverse;

      &.options-width {
        animation: optionsModalAnim 300ms ease reverse;
      }
    }
  }

  &.on {
    display: flex;
  }

  &.come {
    display: flex;

    .modal-body {
      animation: modalAnim 300ms ease-out;

      &.options-width {
        animation: optionsModalAnim 230ms ease-in-out;
      }
    }
  }

  .modal-body {
    position: relative;
    background: #444444;
    border-radius: 10px;
    overflow: hidden;

    &.width-wide {
      width: 86%;
      height: 80%;
    }

    &.width-normal {
      width: 400px;
      max-width: 90%;
      height: 400px;
    }

    &.width-narrow {
      width: 320px;
      height: 200px;
    }

    &.options-width {
      background: transparent;
      width: 400px;

      .close-modal-btn {
        display: none;
      }
    }

    .close-modal-btn {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 5px;
      right: 5px;
      width: 30px;
      height: 30px;
      background: rgb(168, 54, 54);
      border-radius: 7px;
      cursor: pointer;
    }
  }
}

@keyframes modalAnim {
  0% {
    transform: scale(1.06);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes optionsModalAnim {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (max-width: 460px) {
  .modal-container {
    .modal-body {
      &.options-width {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  @keyframes optionsModalAnim {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}
