@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  border: none;
  transition: 0.3s;
  outline: none;
  user-select: none;
}

:root {
  --bg-color: #333;
  --text-color: #f4f4f4;
  --border-radius: 7px;
  --green-color: #6c9;
  --blue-color: #69c;
  --yellow-color: #c96;
  --red-color: #c45;
  --pink-color: #c69;
}

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Muli', sans-serif;
  // font-family: 'CodeBold', sans-serif;
  // font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #080808;
  // background-image: url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg');
  background-size: 100% 100%;
  background-position: 0 0;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;

  &:hover {
    filter: brightness(105%);
  }

  &:focus {
    outline: none;
  }
}

#root {
  display: flex;
}

.container {
  width: 85%;
  margin: 0 auto;
  margin-top: 75px;
  height: calc(100vh - 75px);
  overflow: auto;
  padding-bottom: 30px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 18px;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  background-color: rgba(250, 250, 250, 0.3);
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

@media (max-width: 720px) {
  ::-webkit-scrollbar {
    width: 0;
  }
  ::-webkit-scrollbar-thumb {
    height: 2px;
    border: 4px solid rgba(0, 0, 0, 0);
  }
}

@media (max-width: 480px) {
  .mobile-display-none {
    display: none;
  }
}
