form.tagnote-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .form-group {
    width: 100%;
    margin-top: 25px;
    position: relative;
    height: 40px;

    &:last-child {
      height: 35px;
    }

    &:focus-within {
      label {
        top: -20px;
        left: 0;
        font-size: 14px;
      }
    }

    label {
      position: absolute;
      top: 8px;
      left: 8px;
      z-index: 2;
      color: var(--text-color);
      font-size: 18px;
    }

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: #777;
      color: var(--text-color);
      padding: 8px;
      border-radius: 7px;

      &:not([value='']) + label {
        top: -20px;
        left: 0;
        font-size: 14px;
      }
    }
  }
}
